extends ../../layout

block content
  h1 Venture Leader
  .award-description.
    This award was created to encourage the development of true outdoor leaders who can prove their ability by organising more adventurous
    <i>Ventures</i>.

  .notice.partial.
    The Venture Award jumps to the leader award because learners who have the basic Venture Award have already proved their ability to manage others
    and are therefore at an instructor level.

  .spacer.v20

  .sequel-awards(data-types="0")

  .spacer.v20

  .requirements
    .spacer.v20
    ol.spacious
      li You already have the Venture Award.
      li Submit a further proposal for a Venture trip applying the same criteria as the initial Venture.
      li The proposal must be excellent in all respects and the trip is to be carried out in a manner which shows that you have a mature attitude.
      li.
        After completing this award, you will be given the responsibility of assisting others in planning their own Venture expeditions.
        This will assist in promoting the Venture activity at Treverton.

  .spacer.v40

  .award-status(data-id="ventureLeader")
