extends ../../layout

block content
  link(rel="stylesheet" href="/stylesheets/awards/running.css")
  script(src="/javascripts/awards/running.js")

  h1#award-title Running Award
  p.award-description.
    Spend time on the trails and accumulate 100km of distance to earn this award.
    Every time you go for a run, log it so that your total distance increases.
    Once you've reached 100km, you will be eligible to receive this award.

  .spacer.v20

  .requirements
    .spacer.v20
    ol.spacious
      li
        p Complete a total of 100km of competetive road/trail running in less than two years.

      li
        p To make sure that you achieve your true potential, you are required to do the following:
        .spacer.v20
        table.requirements-table
          tr
            th Race Distance
            th Minimum Weekly Training
          tr
            td 5km
            td 4km
          tr
            td 10km
            td 5km
          tr
            td 15km
            td 10km
          tr
            td 21km
            td 15km
          tr
            td 42km
            td 30km
      li
        p.
          Before races, you will need to show your logbook to the TIC to qualify for entry.
          Your distance per day must also be taken into account
          (seven runs of 1km each are more benefitial than one 7km run).

  .spacer.v40

  h2 Total Distance Run
  h3#total-distance-label
  meter#total-distance-meter.partial(max="100000")

  .spacer.v40
  .award-status(data-id="running")
  .spacer.v40

  #log-input

  .spacer.v40
  h2 Logs
  .spacer.v20

  #log-display
