extends ../layout

block content
  h1 Endurance Award
  p.award-description.
    The Endurance Award recognizes achievement in road running,
    adventure racing, competing in a multisport race, triathlon,
    mountain bike races, horse riding and canoeing in less than two years.
  
  .spacer.v20

  .requirements
    p Complete any <b>one</b> of the following disciplines:
    .spacer.v20

    ul.spacious
      li
        p Running
        ul
          li
            p Junior
            p 4x 15km events
          li
            p Senior
            p 3x half marathons (21km) or 5x 15km events
      li
        p Mountain Biking
        ul
          li
            p Sub-Junior
            p 8x 20km events
          li
            p Junior & Senior
            p 5x 40km - 60km events
      li
        p Multisport or Adventure Racing
        p 5x Mudman or equivalent
        p e.g. Escourt triathlon (the entire race, not a part of it such as the relay)
      li
        p Canoeing
        p 1x Grade 1 river race in either a K1 or K2
        p A prerequisite of this is to hold all necessary proficiencies and qualifications (contact MIC for further details)
      li
        p Horse Riding
        p 5x 40km - 60km endurance rides or 3x 120km endurance rides
      li
        p Ironman / Ironwoman
        p Do a combination of the events mentioned above
        p Select 3 of the following:
        .spacer.v20
        ul
          li Junior
            ul
              li 2x Multisport half distance individual
              li 3x 20km mountain bike events (Sub-Junior)
              li 1x half marathon mountain bike races (Junior)
              li 2x 15km road running evens
              li 1x endurance horse ride
          .spacer.v20
          li Senior
            ul
              li 2x multisport full distance individual
              li 2x half marathon mountainbike events (Senior)
              li 2x 15km road running events
              li 2x road running half marathons
              li 2x endurance horse rides
    .spacer.v20
    div.notice
      .spacer.v20
      ul
        li Sub-Junior: U14
        li Junior: U16
        li Senior: U18
      .spacer.v20
      p If you are a Sub-Junior and your category is not listed, use the Junior criteria.
