extends ../layout

block content
  h1 Kayaking Award
  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li One of the following:
        .spacer.v20
        ul
          li 5x time trials of 15 lengths of the dam (kayak)
          li 5x time trials of 16 lengths of the dam (K1)
          li 5x time trials of 18 lengths of the dam (K2)
      li Five sessions of six figure of eight slalom circuits (kayak)
      li Pass the practical Novice Kayaking Test as follows:
        .spacer.v20
        ul
          li Reverse paddling
          li Bow rudder stroke (to initiate a turn)
          li Draw stroke and figure of eight maneuver (to move sideways)
          li Slap support stroke (to prevent capsize)
          li Sculling support stroke (i.e. large sweep stroke to prevent capsizing)
          li Stability against yawing (able to paddle in a straight line)
          li Correct launching and beaching techniques
          li Capsize (with spray-deck)
      li Perform safety and equipment checks
      li Do one stretch of the Mooi River (e.g. Mooitex to White Rapids)
      li.
        Pass oral or written theory test based on the Kayaking Canoeing chapter in "Reach Beyond"
        (e.g. parts of the boat and paddle, as well as other items, river trip preparation and safety)
      li Basic river safety test
        .spacer.v20
        ul
          li Water proficiency (swim minimum of 50m without floatation device)
          li Throw line
        .spacer.v20