extends ../layout

block content
  h1 Midmar Mile Award
  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li
        p At 5:15am on every Wednesday of the school year you must:
        .spacer.v20
        ol
          li Swim a width of the school damn in summer terms.
          li Get totally immersed in the school damn in winter terms.
      li
        p.
          If you are sick,
          excuse yourself personally from the MIC with an official sick note and attent catchup sessions when you are able.
          You are responsible for organizing these catchup sessions - not the MIC.
      li
        p If you miss a session due to an official school activity then you are counted as having been at that session.