extends ../layout

block content
  h1 Mountain Biking Award
  .spacer.v20

  .requirements
    .spacer.v20
    ol
      li One
      li Two
      li Three
    .spacer.v20

  .spacer.v40

  .award-status(data-award="mountainBiking")
