extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/awards/polar-bear.css")
  script(src="/javascripts/awards/polar-bear.js")

  h2.title Polar Bear Award
  p#info

  .bottom-container
    h3 Completed
    #indicator