extends ../layout

block content
  script(src="/javascripts/awards/rock-climbing.js")

  h1 Rock Climbing Award
  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li
        p To achieve this award, you must know the safety rules shown below:
        .spacer.v20
        ul
          li Read chapter four, "Ever Upward", in <i>Reach Beyond</i> available at the school's stationery or O.P. office.
          li Use a belay and harness when climbing on the school climbing walls as well for climbing real rock.
          li It is essential to use a helmet for protection when climbing or abseiling on rock.
          li.
            Abseiling is always to be done belayed by a competent belayer.
            It is during abseiling that most sport climbing injuries occur.
      li You must have all the necessary sign-offs.

    .spacer.v20

    .notice.
      The inside and outside wall may only be used under the supervision of an approved belayer (decided by the MIC) with a Rock Climbing Award,
      or someone in possession of a Rock Climbing Instructor Award.
      Each instructor may be responsible for no more than four climbers per session.

  .spacer.v40
  .award-status(data-id="rockClimbing")
  .spacer.v40
  .approval-status(data-id="rockClimbingBelayer" data-display="Belayer Sign-Off")
  .spacer.v40

  h2 Sign-Offs
  p Unless specified, skills may be done on either indoor or outdoor walls.

  .spacer.v20
  #signoffs

  .spacer.v40

  #record-form

  .spacer.v40

  #subrecord-form-container(style="display: none")
    #subrecord-form
    .spacer.v40

  h2 Records
  .spacer.v20
  #records
