extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/awards/running.css")
  script(src="/javascripts/awards/running.js")

  h1 Trail Running
  p.partial Run hundereds of kilometers to get this award. This award has several tiers, so you can keep going after you've run 100km!

  .spacer.v40

  h2 Total Distance Run:
  h3#total-distance-label Loading...
  meter#total-distance-meter.partial(max="100000")

  .spacer.v60

  .add-container
    h2 Create Entry
    .spacer.v20

    h3#date-label Date
    .spacer.v20
    input#date-input(type="date")

    .spacer.v20
    
    h3 Distance
    p#distance-display 1000m
    input#distance-input(type="range" min="1000" max="30000" value="3000" step="100")

    h3#time-label Time
    .spacer.v20
    input#time-input(type="text" placeholder="Hours Minutes Seconds (e.g. \"1 30 0\")")

    .spacer.v20

    h3 Description
    .spacer.v20
    textarea#description-input

    .spacer.v20

    button#add-button Create
    .spacer.v20
    p#success-prompt Successfully created new log!

  .spacer.v40
  h2 Logs
  .spacer.v20

  table#logs-table
    tr
      th Date
      th Distance
      th Time
      th Description
      th Remove
