extends ../layout

block content
  script(src="/javascripts/awards/service.js")

  h1 Service Award
  .award-description.
    Encourages an awareness of the needs of others and provides a tangible means
    of expressing the responsibility of members of a comunity for one another.
  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li You must accumulate <b>25 hours</b> of community service. This could consist of activities such as:
        .spacer.v20
        ul
          li Helping elderly people with chores or visits
          li Clearing of exotics from indigenous bush
          li Environmental projects
          li Teaching disadvantaged learners
          li Fund-raising for charity
          li Ambulance volunteer work
          li Assisting in school projects and functions
          li Library service
          li Acting as sports officials
          li Administrative assistance on an ongoing basis (i.e. not an hour or two picked up here and there)
      li You will have responsibility for arranging your own form of service activity in conjunction with an instructor.
      li All projects and designated supervisors must be approved by the MIC before the project is started. Signatures must be provided as proof.

    .spacer.v20
    
    .notice.
      An important part of this award is that the service should be self-motivated.
      You may respond to someone else's idea but you should want to do the service.

  .spacer.v40

  h2 Total Hours
  h3#total-hours-label
  meter#total-hours-meter.partial(max="90000")

  .spacer.v40
  .award-status(data-id="service")
  .spacer.v40

  #record-input

  .spacer.v40
  h2 Records
  .spacer.v20

  #record-display
