extends ../layout

block content
  h1 Solitaire Award
  .award-description
    p.
      This award will provide you with the novel experience of being alone,
      without the usual reinforcing comforts of a secure shelter, food,
      reading material and other diversions such as music, internet, movies and social medial.
      It aims to challenge your ability to make constructive use of your time
      using your initiative in making your 48 hours as comfortable as possible.
      It also aims to give you an unhindered opportunity to comtemplate God's creation and your place in it,
      your own existance (life's journey traveled thus far) and your future role in society
      (that path still to travel, i.e. life direction).

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li Read the chapter in "Reach Beyond" entitled "On Your Own".
      li The supervisor will show you to your site. You are restricted to an area of roughly 10 square meters.
      li Your first objective is to build a shelter. Do not build it too close to the water's edge or under a bank in case heavy rain occurs.
      li In case of severe lightning, move away from trees nd sit in the open.
      li When the supervisors pass you on Saturday to Sunday, raise your hand but do not communicate in any other way.
      li.
        On Sunday, when you are told that your time is up, destroy and scatter the parts of your shelter.
        There must be no indication of your presence left behind (minimal impact - leave no trace).

    .spacer.v20

    h3 Allowed
    ul
      li Rain suit
      li Sleeping bag
      li 3l of water (you must provide your own containers - plan ahead)
      li 2m groundsheet (provided), bring your own string or rope
      li Bible
      li Writing / sketching materials in an envelope
      li Jeans, jersey and jacket
      li Camera, binoculars
      li One standard size match box that can have whatever you want in it (except matches!)

    .spacer.v20

    h3 Not Allowed
    ul
      li Food
      li Watch
      li Reading material (except the Bible)
      li Devices and other distractions

  .spacer.v40

  .award-status(data-award="solitaire")