extends ../layout

block content
  script(src="/javascripts/awards/summit.js")

  h1 Summit Award
  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li.
        You must have completed the Drakensberg Award,
        but you can also earn it at the same time if enough time is spent on the escarpment.
      li You shall have logged a total of four nights hiking in the Berg, including a 700m ascent.
      li You must have all the necessary sign-offs.

    .spacer.v20

    .notice You can record hikes at the <a class="link" href="/mountaineering">mountaineering</a> page.

  .spacer.v40

  .award-status(data-id="summit")

  .spacer.v40

  h2 Sign-Offs
  .spacer.v20
  #signoffs
