extends ../layout

block content
  h1 Traverse Award
  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li.
        You must have completed the Summit Award,
        but you can also earn it at the same time if enough time is spent on the escarpment.
      li.
        You shall have logged a minimum of six nights hiking in the Berg
        and an additional trip including a 700m ascent or 2 lower berg trips.
      li You shall have the following sign-offs from an instructor or a staff member leading the Berg trip:
        .spacer.v20
        ul
          li
            p.
              Summary of facts about at least three mountain accidents, their causes,
              the rescue action taken and possible preventative measures which could have been taken.
            p Source library: Books and Backpacker Magazine, Dragon's Wrath, newspapers, articles
          li Ability to prepare a detailed hike plan proven by presentation of one such plans below.
        .spacer.v20

  .spacer.v40

  .award-status(data-award="traverse")