extends ../layout

block content
  h1 Venture Award
  .award-description.
    Adventure in Outdoor Persuits doesn't stop after Treverton.
    This is why the goal of this award is to encourage the
    development of a spirit of adventure amongst participants in the O.P. programme that will stay with them forever.

  .spacer.v20

  .requirements
    .spacer.v20
    p.
      You must conceive, plan and execute an expedition or exploration
      which has specific objectives of either traveling a certain distance or attaining a certain exploratory objective.
      e.g. Attempting to find and map caves in a Drakensberg valley.
    .spacer.v20
    p An expedition must consist of at least two overnight bivouacsand have a minimum of seven hours of physical exercise each day.
    .spacer.v20
    p An exploration will also devote at least seven hours a day to an exploratory activity.
    .spacer.v20
    p.
      This award is not automatically granted upon the completion of an expedition,
      because an extremely high standard of planning, execution and reporting is expected.

  .spacer.v40
  .approval-status(data-id="ventureProposal" data-display="Proposal Approved")
  .spacer.v40
  .award-status(data-id="venture")
  .spacer.v40

  .award-info
    h2 Procedure To Follow For Organising A Venture Award

    .spacer.v20

    ol.partial
      li A full plan is to be submitted a minimum of two weeks before the intended Venture activity.
      li.
        This plan is to be neatly presented in typed form for approval by the MIC.
        The headings given in the outline below must be seen as an absolute minimum.
        Any shoddy/scrappy proposals will not be considered.
      li.
        Depending upon the nature of the exercise and at the discretion of the headmaster and MIC,
        an adult member will need to accompany the expedition.
        Note that housemasters' and parents' permission is required for venture trips during school term.
      li Venture activities are ideal for holidays - plan ahead! Get parents involved. Many successful trips have included parents.

    .spacer.v20

    h2 Outline Of Headings For A Detailed Plan For A Venture Award

    .spacer.v20

    ol
      li Objective of expedition or exploration (what)
        ul
          li What is the aim of the planned trip?
      li Location of the trip (where)
        ul
          li Where will the trip take place?
      li Plan of action (how)
        ul
          li When (times and dates)
            ul
              li Look out for possible claches with other school activities
              li Check term calendr and check with the staff member responsible for an activity with which there is a possible clash
            .notice Holidays are a good time to persue venture awards as long as sufficient proof of the activity is given in your report.
          li Transport
          li Skills needed and how these skills will be obtained
          li Training needed and how this will be gained
          li Division of responsibilities amongst the group (i.e. who does what and when)
          li Equipment needed (maps, tents, etc. - refer to <i>Reach Beyond</i> and other books for reference)
          li Detailed menu (from which you will make up your food list)
          li Checklist for final packing and activites before you leave
          li Possible risks; safety precautions
          li First aid measures

    .spacer.v20

    h2 Food Organisation

    .spacer.v20

    h3 Step 1
    p Prepare a detailed menu.
    .spacer.v20
    p e.g.
    ul
      li Saturday breakfast: caviar, biltong and sauerkraut
      li Saturday lunch: bully beef, oats porridge and litchis
    .spacer.v20
    .notice.
      Despite the luxurious examples used, caterers will supply only basic foods - a standard hikng-type ration.
      The rest is to be organised by you.

    .spacer.v20

    h3 Step 2
    p Work out quantities.
    .spacer.v20
    p e.g.
    ul
      li 3kg biltong
      li 2kg sauerkraut

    .spacer.v20

    h3 Step 3
    p Fill these quantities in neatly on the school catering request form which you may obtain from the school secretary.

    .spacer.v20

    h3 Step 4
    p Fill in all the details required on the form and double check.

    .spacer.v20

    h3 Step 5
    p.
      Hand to MIC for checking and signature.
      This must be done at least two weeks before the intended trip.
    p If the MIC is not available, get the headmaster's approval directly, but make sure you have your act together!

    .spacer.v20

    h3 Step 6
    p Notify caterer of any changes.

    .spacer.v20

    h3 Step 7
    p Collect food at the appointed time.

    .spacer.v20

    h3 Step 8
    p.
      Thank the caterer before and afterwards.
      It takes as much time to sort out food for one small group as it does to prepare a meal for 200 people!
    .spacer.v20
    .notice.
      This food request form must be submitted first to the MIC at least two weeks before the intended trip.
      The MIC will then submit it to the headmaster and caterer.
