extends ../layout

block content
  h1 Venture Award
  .award-description.
    Adventure in Outdoor Persuits doesn't stop after Treverton.
    This is why the goal of this award is to encourage the
    development of a spirit of adventure amongst participants in the O.P. programme that will stay with them forever.

  .spacer.v20

  .requirements
    .spacer.v20
    p.
      You must conceive, plan and execute an expedition or exploration
      which has specific objectives of either traveling a certain distance or attaining a certain exploratory objective.
      e.g. Attempting to find and map caves in a Drakensberg valley.
    .spacer.v20
    p An expedition must consist of at least two overnight bivouacsand have a minimum of seven hours of physical exercise each day.
    .spacer.v20
    p An exploration will also devote at least seven hours a day to an exploratory activity.
    .spacer.v20
    p.
      This award is not automatically granted upon the completeion of an expedition,
      because an extremely high standard of planning, execution and reporting is expected.
    .spacer.v20

  .spacer.v40

  .award-status(data-award="venture")