h1 {
    color: white;
}

.container {
    align-items: center;
    background-color: rgb(15, 15, 20);
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.error {
    display: none;
}

#login-div {
    margin-top: 20px;
}