.a-container {
    display: flex;
    justify-content: space-around;
}

.a-container a {
    background-color: var(--color-primary-500);
    border-radius: 4px;
    color: var(--color-primary-500-text);
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

.a-container a:hover {
    background-color: var(--color-primary-600);
    color: var(--color-primary-600-text);
}