.settings-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    row-gap: 20px;
    width: 100%;
}

.settings-container button {
    background-color: var(--color-primary-300);
    border: 1px solid var(--color-black);
    border-radius: 4px;
    color: var(--color-primary-300-text);
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    width: 180px;
}

.settings-container button:hover {
    background-color: var(--color-primary-400);
    color: var(--color-primary-400-text);
}

.settings-container button:active {
    background-color: var(--color-primary-200);
    color: var(--color-primary-200-text);
}

.settings-container .line {
    background-color: var(--color-background-accent);
    height: 0.5px;
}

.settings-container .top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}