.container {
    padding: 20px;
}

.card {
    background-color: rgb(4, 170, 109);
    border-radius: 4px;
    box-shadow: 30px 10px rgb(3, 75, 44);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    max-width: 700px;
    padding: 20px;
    width: 100%;
}

.card button {
    background-color: rgb(154, 245, 212);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    width: 200px;
}

.card button:hover {
    background-color: rgb(114, 205, 172);
}

.card button:active {
    background-color: rgb(174, 265, 232);
}

#attributions {
    display: none;
}