extends ../../layout

block content
  h1 Kayaking Leader
  p.award-description.
    A kayaking leader must show exceptional ability in the sport as well as
    the ability to lead by example and to exemplify the correct attitude.

  .spacer.v20

  .sequel-awards(data-types="0 1")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li.
        Be an instructor of at least one season's standing with
        a proven (logged) record of varied river trips.
        A leader will work alongside the MIC sharing much of the responsibility.
      li A formal kayaking/guiding flat-water certificate (minimum level one) is essential.
      li Attendance of an African Paddling Association River Guide Course is highly recommended.
      li Plan a trip - including all logistics, briefings, client control/assistance/assurance.
      li Correctly interpret environmental conditions (including possible dangers and weather).

  .spacer.v40

  .award-status(data-id="kayakingLeader")
