extends ../../layout

block content
  script(src="/javascripts/awards/kayaking/kayaking-instructor.js")

  h1 Kayaking Instructor

  .spacer.v20

  .sequel-awards(data-types="0 2")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li Have the necessary sign-offs.
      li
        p Accept the responsibilities of an instructor:
        .spacer.v20
        ul
          li Foster a responsible attitude towards kayaking
          li Spend time instructing learners in theoretical and practical aspects of kayaking
          li Administer theory and practical tests and sign off learners of these tests
          li Preparing groups of kayakers for river trips as well as shepherding them down
          li Maintenance of the kayaking inventory as a duty monitor at the boat shed
          li Develop your own skills as a kayaker and teach by example
        .spacer.v20

  .spacer.v40

  .award-status(data-id="kayakingInstructor")

  .spacer.v40

  h2 Sign-Offs
  .spacer.v20
  #signoffs
