body {
    overflow-x: hidden;
}

.add-user {
    background-color: var(--color-primary-500);
    border-radius: 8px;
    color: var(--color-primary-500-text);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow: hidden;
    padding: 8px;
    row-gap: 5px;
}

.add-user input {
    min-width: 150px;
    width: 50%;
}

.add-user-input-container {
    align-items: center;
    display: flex;
}

.add-user button {
    font-size: 20px;
    height: 50px;
    width: 175px;
}

.info-header {
    font-style: italic;
}

.permissions-info ul {
    margin-left: 20px;
}

.permissions-info ul li {
    margin-top: 10px;
}

.section {
    border: 3px solid rgb(0, 0, 0);
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

.user {
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    row-gap: 10px;
}

.user table td:last-child {
    padding-left: 20px;
}

#add-user-status {
    color: rgb(255, 255, 255);
    display: none;
}

#permissions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}