.container .request {
    align-items: center;
    background-color: var(--color-secondary-400);
    border: 2px solid var(--color-background-opposite);
    border-radius: 4px;
    color: var(--color-secondary-400-text);
    display: flex;
    flex-direction: column;
    min-height: 280px;
    padding: 16px;
    text-align: center;
    transition: 0.15s;
    width: 200px;
}

.container .request:hover {
    transform: scale(1.01);
}

.container .request a {
    border-radius: 4px;
    padding: 8px;
    text-decoration: none;
}

#requests-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}