extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/admin/audit-log.css")
  script(src="/javascripts/admin/audit-log.js")

  h1 Audit Log
  p.partial These are records representing users' activity across the website.

  .spacer.v20

  #audit-logs
  