extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/admin/signoff-requests.css")
  script(src="/javascripts/admin/signoff-requests.js")

  h1 Sign-Off Requests
  p.partial.
    Pupils can request for their awards and sign-offs to be signed off.
    This page shows a list of every pupil who has requested something.

  .spacer.v20

  h2 Total Requests
  #stats-container
  
  .spacer.v40

  #requests-container
