extends profile

block tab-content
  link(rel="stylesheet" href="/stylesheets/profile/admin.css")
  script(src="/javascripts/profile/admin.js")

  h1 Admin
  p This page allows you to manage a student's awards, view their logs, etc.

  .spacer.v40

  table#awards-table
    tr
      th Award
      th Status
      th Sign Off
