extends profile

block tab-content
  link(rel="stylesheet" href="/stylesheets/profile/admin.css")
  script(src="/javascripts/profile/admin.js")

  h1 Admin
  p This page allows you to manage a student's awards, view their logs, etc.

  .spacer.v40

  h2 Awards
  p Grant or revoke this user's rewards.

  .spacer.v20

  table#awards-table.partial(style="display: none")
    tr
      th Award
      th Achieved
      th Manage

  .spacer.v40

  h2 Running Logs
  h3#run-distance-label Loading...
  meter#run-distance-meter.partial(max="100000")

  .spacer.v20

  table#run-records(style="display: none")
    tr
      th Date
      th Distance
      th Time
      th Description