extends profile

block tab-content
  link(rel="stylesheet" href="/stylesheets/profile/admin.css")
  script(src="/javascripts/profile/admin.js")

  h1 Admin
  p This page allows you to manage a student's awards, view their logs, etc.

  .spacer.v40

  h2 Awards
  p Grant or revoke this user's rewards.

  .spacer.v20

  table#awards-table.management-table.alternating(style="display: none")
    tr
      th Award
      th Completed
      th Date
      th Signed By
      th Manage

  .spacer.v40

  #sections-container
