extends profile

block tab-content
  link(rel="stylesheet" href="/stylesheets/profile/awards.css")

  h1 Awards

  .card
    h2 Midmar Mile
    .spacer.v20
    img(src="/images/unchecked.png")

  .card
    h2 Polar Bear
    .spacer.v20
    img(src="/images/checked.png")

  .card
    h2 Running
    h3 Total Distance Run:
    h3 5000m / 100000m
    .spacer.v20
    meter#running-distance-meter(max="100000" value="60000")
    .spacer.v20
    img(src="/images/unchecked.png")
