extends profile

block tab-content
  link(rel="stylesheet" href="/stylesheets/profile/milestones.css")
  script(src="/javascripts/profile/milestones.js")

  h1 Milestones
  .spacer.v20

  table#milestones-table
