extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/profile/profile.css")
  script(src="/javascripts/profile/profile.js")

  h2#user-title
  
  .spacer.v20

  #tab-container
    .tab(data-tab="awards")
      h3 Awards
      .underline
    .tab(data-tab="milestones")
      h3 Milestones
      .underline
    .tab(data-tab="admin" style=`display: ${displays.permission.manageAwards.flex}`)
      h3 Admin
      .underline
    .tab(data-tab="requests" style=`display: ${displays.permission.manageAwards.flex}`)
      h3 Requests
      .underline

  .tab-div
    block tab-content
