extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/profile/profile.css")
  script(src="/javascripts/profile/profile.js")

  .spacer.v20
  h2#user-email

  #tab-container
    .tab(data-tab="awards")
      h3 Awards
      .underline
    .tab(data-tab="milestones")
      h3 Milestones
      .underline
    .tab(data-tab="admin" style=`display: ${permissionDisplays.awards.flex}`)
      h3 Admin
      .underline

  .tab-div
    block tab-content
