extends ../../layout

block content
  link(rel="stylesheet" href="/stylesheets/awards/solitare.css")
  script(src="/javascripts/awards/solitaire/solitare.js")

  h1 Solitaire Award
  .award-description
    p.
      This award will provide you with the novel experience of being alone,
      without the usual reinforcing comforts of a secure shelter, food,
      reading material and other diversions such as music, internet, movies and social medial.
      It aims to challenge your ability to make constructive use of your time
      using your initiative in making your 48 hours as comfortable as possible.
      It also aims to give you an unhindered opportunity to comtemplate God's creation and your place in it,
      your own existance (life's journey traveled thus far) and your future role in society
      (that path still to travel, i.e. life direction).

  .spacer.v20

  .sequel-awards(data-types="1 2")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li Read the chapter in "Reach Beyond" entitled "On Your Own".
      li The supervisor will show you to your site. You are restricted to an area of roughly 10 square meters.
      li Your first objective is to build a shelter. Do not build it too close to the water's edge or under a bank in case heavy rain occurs.
      li In case of severe lightning, move away from trees nd sit in the open.
      li When the supervisors pass you on Saturday to Sunday, raise your hand but do not communicate in any other way.
      li.
        On Sunday, when you are told that your time is up, destroy and scatter the parts of your shelter.
        There must be no indication of your presence left behind (minimal impact - leave no trace).

    .spacer.v20

    h3 Allowed
    ul
      li Rain suit
      li Sleeping bag
      li 3l of water (you must provide your own containers - plan ahead)
      li 2m groundsheet (provided), bring your own string or rope
      li Bible
      li Writing / sketching materials in an envelope
      li Jeans, jersey and jacket
      li Camera, binoculars
      li One standard size match box that can have whatever you want in it (except matches!)

    .spacer.v20

    h3 Not Allowed
    ul
      li Food
      li Watch
      li Reading material (except the Bible)
      li Devices and other distractions

  .spacer.v40
  .award-status(data-id="solitaire")
  .spacer.v40

  .questions
    h2 Solitare Questionnaire
    p.partial.
      Make use of this opportunity to the best of your ability.
      Do not be tempted to cheat as you only cheat yourself in the end.
      Here are some questions to help you focus on things other than hunger or boredom.
    .spacer.v20

    .question-types
      .question-type
        h3 Family
        ul
          li Describe the members of your family.
          li How well do you relate to each other?
          li Have you done things to harm this relationship?
          li What are your family goals for the future?

      .question-type
        h3 School
        ul
          li Describe your special friends.
          li Why are they your friends?
          li What do you see in them?
          li What do they see in you?
          li Describe your feelings towards:
            ul
              li Adademics
              li Sport
              li Dormitory life

      .question-type
        h3 Outdoor Persuits
        ul
          li In what ways are you making use of the O.P. programme?
          li What do you hope to achieve?

      .question-type
        h3 Environment
        ul
          li Do you care for the natural environment?
          li Does it concern you to see it harmed?
          li In what ways are you enjoying this time in the environment?

      .question-type
        h3 Solitaire
        ul
          li What are your aims for this excercise? Have you achieved these?
          li How have your attitudes changed during the last 48 hours?
          li Describe your hunger, loneliness, fears, wonders, excitement, peace and satisfaction.

      .question-type
        h3 Letter
        ul
          li Write a letter yo yourself and set goals for the years ahead.
          li Here are some things you can consider when writing your letter:
            ul.letter-items
              li Academics
              li Sport
              li O.P.
              li Family
              li Friends
              li Personal habits
              li Religious convictions
              li Career

  .spacer.v40

  #record
    h2 Solitaire Record
    .spacer.v20
    #record-placeholder
