extends ../../layout

block content
  script(src="/javascripts/awards/solitaire/solitare-leader.js")

  h1 Solitaire Leader
  .spacer.v20

  .sequel-awards(data-types="0 1")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li Become a solitaire instructor.
      li
        p Organize a solitaire exercise from start to finish, taking responsibility for all aspects of organisation including:
        .spacer.v20
        ul
          li Term calendar arrangements (with MIC)
          li Transport arrangements
          li Kitchen arragements (with MIC)
          li Briefing of learners
          li Checking of learners' bags
          li Assigning sites to learners
          li Performing frequent checks during the day to prevent cheating on the part of persons doing their first solitaire.

      .spacer.v20
      .notice Doing these things is a service to solitaire and will encourage more Solitaire experiences to happen by making the MIC's job easier!

  .spacer.v40
  .award-status(data-id="solitaireLeader")
  .spacer.v40

  #record-placeholder
