extends ../../layout

block content
  script(src="/javascripts/awards/solitaire/solitare-instructor.js")

  h1 Solitaire Instructor
  .spacer.v20

  .sequel-awards(data-types="0 2")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li.
        You must have successfully completed one solitaire and will work with an instructor in assisting the leaders and MIC.
        The award is only given after completing one stint as an assistant and on recommendation of the MIC.
      li.
        You and your assistant must be knowledgeable with regard to the tasks of the leader award and either assist with these tasks,
        or perform them independently depending upon available staff.
      li Be prepared to perform spot checks at random periods during the day or night.

  .spacer.v40
  .award-status(data-id="solitaireInstructor")
  .spacer.v40

  #log-placeholder
