extends layout

block content
  link(rel="stylesheet" href="/stylesheets/home.css")

  h1 Welcome to Topal
  .spacer.v20
  p Use the navigation bar at the top of your screen to view awards.
  a(href="/profile/awards") Profile Page
  