doctype html
html
  head
    title Topal
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet' href='/stylesheets/global/design.css')
    link(rel='stylesheet' href='/stylesheets/global/footer.css')
    link(rel='stylesheet' href='/stylesheets/global/hamburger-icon.css')
    link(rel='stylesheet' href='/stylesheets/global/sidebar.css')
    link(rel='stylesheet' href='/stylesheets/global/topbar.css')

    script(src="/javascripts/tools/cookies.js")
    script(src="/javascripts/tools/rest.js")
    script(src="/javascripts/main.js")
  body
    .top-bar
      #nav-container
        .line
        a(href="/") Home
        .line

        .dropdown
          a.dropdown-trigger Awards
          .dropdown-content
            a(href="/awards/midmar-mile") Midmar Mile
            a(href="/awards/polar-bear") Polar Bear
            a(href="/awards/running") Running

        .line
        a(href="/search-users") Find Someone

        .line
        a(href="/settings") Settings
        .line

        a.login-button Login
        .line.login-visible

        a(href="/permissions" style=`display: ${permissionDisplays.permissions.flex}`) Permissions
        .line(style=`display: ${permissionDisplays.permissions.flex}`)

      #sidebar-button.menu-bar
        .bar1
        .bar2
        .bar3

    #sidebar
      ul
        li
          a(href="/") Home
        li
          .item
            input#awards-checkbox(type="checkbox")
            label(for="awards-checkbox") Awards

            ul
              li
                a(href="/awards/midmar-mile") Midmar Mile
              li
                a(href="/awards/polar-bear") Polar Bear
              li
                a(href="/awards/running") Running
        li
          a(href="/settings") Settings
        li
          a.login-button Login
        li(style=`display: ${permissionDisplays.permissions.block}`)
          a(href="/permissions") Permissions

    .container
      block content
  
    footer
      p &copy 2023 
        a(href="/") TOPAL
