extends layout

block content
    link(rel="stylesheet" href="/stylesheets/login.css")

    script(src="https://accounts.google.com/gsi/client" async defer)
    script(src="/javascripts/login.js" defer)

    h1 Login
    h3.error Invalid Email!
    p.error You must sign in with a Treverton email.
    #login-div