extends layout

block content
  link(rel="stylesheet" href="/stylesheets/settings.css")
  script(src="/javascripts/settings.js")

  h1 Settings 
  
  .logout-all
    h2 Log Out Of All Devices
    p This will log you out of all devices you are logged in to, including this one.
    button#logout-all Log Out All Devices