.dropdown-section-top {
    cursor: pointer;
    display: inline-block;
}

.dropdown-section-top h2 {
    display: inline;
    margin-right: 20px;
}

.dropdown-section-top img {
    height: 30px;
    transition: 0.25s;
}

.dropdown-section-top img.rotated {
    transform: rotate(180deg);
}

.management-table {
    border-collapse: collapse;
    width: 100%;
}

.management-table td,
.management-table th {
    border: 1px solid var(--color-black);
    padding: 16px;
    text-align: center;
}

.management-table td:last-child:hover {
    background-color: var(--color-primary-400);
    color: var(--color-primary-400-text);
    cursor: pointer;
}

.management-table td:last-child:active {
    background-color: var(--color-primary-300);
    color: var(--color-primary-300-text);
}