#awards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#awards-container meter {
    width: 100%;
}

#awards-container .card {
    background-color: var(--color-primary-300);
    border-radius: 2px;
    color: var(--color-primary-300-text);
    flex-basis: 30%;
    flex-grow: 1;
    padding: 16px;
    text-align: center;
}

#awards-container .checkbox {
    height: 80px;
}

#awards-container .checkbox-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#awards-container .checkboxes-container {
    column-gap: 20px;
    display: flex;
    justify-content: center;
}