.tab {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 8px 2px;
}

.tab h3 {
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    transition: background-color 0.1s;
}

.tab h3:hover {
    background-color: rgb(0, 0, 0, 0.3);
}

.tab .underline {
    background-color: var(--color-secondary-600);
    display: none;
    bottom: 0px;
    height: 2px;
    position: absolute;
    width: 100%;
}

.tab.selected .underline {
    display: block;
}

.tab-div {
    padding: 16px;
    width: 100%;
}

#tab-container {
    background: linear-gradient(90deg, var(--color-background), rgb(0, 0, 0, 0));
    border-bottom: 1px solid rgb(50, 50, 50);
    column-gap: 20px;
    display: flex;
    justify-content: left;
    position: sticky;
    top: var(--topbar-height);
    width: 100%;
    z-index: 5;
}