extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/errors/other.css")

  h1= status
  p An error has occured. Please send a screenshot of this page to the developer.
  .spacer.v60
  p.message= message
