.award-description {
    max-width: 700px;
    text-align: justify;
    width: 100%;
}

.notice {
    background-color: var(--color-background);
    border-radius: 4px;
    color: var(--color-background-text);
    padding: 8px;
}

.notice::before {
    color: var(--color-secondary-500);
    content: "NOTE: ";
    font-weight: bolder;
}

.requirements {
    background-color: var(--color-primary-500);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    color: var(--color-primary-500-text);
    max-width: 1000px;
    padding: 10px 20px;
    text-align: justify;
    width: 100%;
}

.requirements::before {
    content: "Requirements";
    font-size: 40px;
    font-weight: bolder;
}

.requirements ol.spacious>li:not(:first-child),
.requirements ul.spacious>li:not(:first-child) {
    margin-top: 20px;
}