* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --topbar-height: 70px;

    /* Colors */

    --color-black: #000;
    --color-white: #fff;

    /* Background */

    --color-background: #000;
    --color-background-text: #000;
    --color-background-opposite: #000;
    
    --color-background-accent: rgb(40, 40, 60);
    --color-background-accent-text: var(--color-white);

    /* Button */

    --color-button: #000;
    --color-button-active: #000;
    --color-button-hover: #000;
    --color-button-text: #000;

    --color-button-light: rgb(40, 40, 60);
    --color-button-active-light: rgb(40, 40, 60);
    --color-button-hover-light: rgb(10, 10, 30);
    --color-button-text-light: rgb(255, 255, 255);

    --color-button-dark: rgb(245, 245, 245);
    --color-button-active-dark: rgb(245, 245, 245);
    --color-button-hover-dark: rgb(215, 215, 215);
    --color-button-text-dark: rgb(0, 0, 0);

    /* Primary */

    --color-primary-200: #bbc0e1;
    --color-primary-200-text: var(--color-black);
    --color-primary-300: #9aa0c6;
    --color-primary-300-text: var(--color-black);
    --color-primary-400: #747baf;
    --color-primary-400-text: var(--color-background-text);
    --color-primary-500: #3d4590;
    --color-primary-500-text: var(--color-white);
    --color-primary-600: #252b6d;
    --color-primary-600-text: var(--color-white);
    --color-primary-700: #1b1b5a;
    --color-primary-700-text: var(--color-white);

    /* Secondary */
    
    --color-secondary-200: #ffe1b4;
    --color-secondary-200-text: var(--color-black);
    --color-secondary-300: #fdc87f;
    --color-secondary-300-text: var(--color-black);
    --color-secondary-400: #fba127;
    --color-secondary-400-text: var(--color-black);
    --color-secondary-500: #fa9105;
    --color-secondary-500-text: var(--color-white);
    --color-secondary-600: #f07606;
    --color-secondary-600-text: var(--color-white);
    --color-secondary-700: #e04b06;
    --color-secondary-700-text: var(--color-white);
}

a.link {
    color: rgb(0, 200, 255);
    text-decoration: underline;
}

body {
    background-color: var(--color-background);
    color: var(--color-background-text);
    font-size: 15px;
    transition: background-color 0.25s;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

meter {
    display: block;
    height: 40px;
}

meter::-webkit-meter-bar {
    background-color: rgb(211, 211, 211);
    box-shadow: 0 3px 3px -3px rgb(51, 51, 51) inset;
}

meter::-webkit-meter-optimum-value {
    background-image: linear-gradient(90deg, var(--color-secondary-200), var(--color-secondary-500));
    background-size: 100% 100%;
    box-shadow: 0 3px 3px -3px rgb(51, 51, 51) inset;
    -webkit-transition: width 1s;
}

ol li,
ul li {
    margin-left: 20px;
}

table.alternating tr:nth-child(odd) {
    background-color: var(--color-primary-600);
    color: var(--color-primary-600-text);
}

table.alternating tr:nth-child(even) {
    background-color: var(--color-primary-500);
    color: var(--color-primary-500-text);
}

.bold {
    font-weight: bolder;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.container {
    margin-top: var(--topbar-height);
    min-height: 100vh;
    padding: 20px;
    width: 100%;
}

.partial {
    max-width: 700px;
    width: 100%;
}

.narrow {
    max-width: 300px;
    width: 100%;
}

.spacer.v10 {
    height: 10px;
}

.spacer.v20 {
    height: 20px;
}

.spacer.v40 {
    height: 40px;
}

.spacer.v60 {
    height: 60px;
}

.spacer.v80 {
    height: 80px;
}

.theme-button {
    background-color: var(--color-button);
    color: var(--color-button-text);
}

.theme-button:hover {
    background-color: var(--color-button-hover);
}

.theme-button:active {
    background-color: var(--color-button-active);
}

.transparent-button {
    background-color: rgb(255, 255, 255, 0.1);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.transparent-button:hover {
    background-color: var(--color-background);
    border: 2px solid var(--color-background);
    color: var(--color-background-text);
}