.record-input {
    background-color: var(--color-primary-400);
    border-radius: 4px;
    color: var(--color-primary-400-text);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    padding: 16px;
    width: 70%;
}

.record-input button {
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.record-input button:hover {
    background-color: rgb(220, 220, 220);
}

.record-input button:active {
    background-color: rgb(250, 250, 250);
}

.record-input input[type="checkbox"] {
    min-height: 30px;
    min-width: 30px;
}

.record-input input[type="date"],
.record-input input[type="number"],
.record-input input[type="text"],
.record-input select {
    height: 40px;
    padding: 8px;
    min-width: 150px;
}

.record-input textarea {
    height: 80px;
    padding: 16px;
}

.record-input input,
.record-input select,
.record-input textarea {
    background-color: var(--color-background);
    border: none;
    border-left: 2px solid var(--color-background-opposite);
    border-top: 2px solid var(--color-background-opposite);
    color: var(--color-background-text);
}

.record-input .input-collection {
    display: flex;
    flex-wrap: wrap;
}

.record-input .input-container {
    align-items: end;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.record-input .success-message {
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

.record-input .required::after {
    color: rgb(150, 8, 13);
    content: " *"
}