.flexible-record-display {
    border: 3px solid var(--color-primary-300);
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.flexible-record-display>* {
    background-color: var(--color-primary-500);
    border-radius: 4px;
    color: var(--color-primary-500-text);
    flex: 1;
    flex-basis: content;
    padding: 8px;
}

.flexible-record-display button {
    background-color: var(--color-background);
    border: none;
    border-radius: 4px;
    color: var(--color-background-text);
    cursor: pointer;
    height: 30px;
    width: 200px;
}

.flexible-record-display .boolean-container {
    align-items: center;
    column-gap: 20px;
    display: flex;
}

.flexible-record-display .boolean-container img {
    height: 40px;
    width: 40px;
}

.flexible-record-display .option-card {
    background-color: var(--color-primary-600);
    color: var(--color-primary-600-text);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.flexible-record-display .radio-container {
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.flexible-record-display .radio-container .radio-option {
    column-gap: 10px;
    display: flex;
}

.flexible-record-display .radio-container .radio-option img {
    height: 20px;
    width: 20px;
}

.flexible-record-display .text-long-container p::before {
    content: "\"";
    font-size: 30px;
}

.flexible-record-display .text-long-container p::after {
    content: "\"";
    font-size: 30px;
}

.flexible-record-display-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.records-table {
    width: 100%;
}

.records-table,
.records-table th,
.records-table td {
    border: 1px solid var(--color-black);
    border-collapse: collapse;
}

.records-table th,
.records-table td {
    background-color: var(--color-secondary-300);
    color: var(--color-secondary-300-text);
    padding: 8px;
    text-align: center;
}

.records-table td.interactive {
    background-color: var(--color-secondary-300);
    color: var(--color-secondary-400-text);
    cursor: pointer;
    width: 10px;
}

.records-table td.interactive:hover {
    background-color: var(--color-secondary-400);
    color: var(--color-secondary-400-text);
}