.item ul {
    transition: 1s;
    margin-left: 2em;
}

.item ul,
.item input {
    display: none;
}

.item input:checked~ul {
    display: block;
}

#sidebar {
    background-color: rgb(25, 25, 25);
    height: 90%;
    max-width: 45%;
    position: fixed;
    right: -250px;
    top: 10%;
    transition: right 0.5s;
    width: 250px;
    z-index: 10;
}

#sidebar a,
#sidebar label {
    align-items: center;
    background-color: rgb(4, 170, 109);
    border-bottom: 2px solid rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    height: 60px;
    padding-left: 35px;
    text-decoration: none;
    width: 100%;
}

#sidebar a:hover {
    background-color: rgb(62, 142, 65);
}

#sidebar ul {
    list-style: none;
}

#sidebar-button {
    aspect-ratio: 1 / 1;
    background-color: rgb(255, 255, 255);
    border: none;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#sidebar-button:hover {
    background-color: rgb(220, 220, 220);
}