.signoff-display {
    max-width: 100%;
    width: 700px;
}

.signoff-display img {
    height: 40px;
}

.signoff-display td {
    height: 60px;
    vertical-align: middle;
}

.signoff-display tr>:not(:first-child) {
    padding-left: 20px;
}

.signoff-display tr:not(:first-child) th {
    padding-top: 20px;
}

.signoff-display .line {
    background-color: var(--color-background-opposite);
    height: 0.5px;
}