.status-display {
    background-color: var(--color-secondary-400);
    border: 3px solid var(--color-secondary-600);
    border-radius: 4px;
    color: var(--color-secondary-400-text);
    padding: 16px;
}

.status-display .bottom .request-button {
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
}

.status-display .line {
    background-color: var(--color-background-opposite);
    height: 0.5px;
    margin-left: 5%;
    width: 90%;
}

.status-display .top {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.status-display .top .date-container,
.status-display .top .signer-container {
    display: flex;
    flex-direction: column;
}

.status-display .top .status-container {
    align-items: center;
    column-gap: 20px;
    display: flex;
}

.status-display .top .status-container img {
    height: 60px;
    width: 60px;
}