* {
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Global */

.spacer {
    height: 50%;
    width: 100%;
}

/* Other */

.container {
    margin-top: 10vh;
    width: 100vw;
}