extends ../../layout

block content
  script(src="/javascripts/awards/rock_climbing/rock-climbing-leader.js")

  h1 Rock Climbing Leader
  p.award-description.
    This award was created to award experience, achievement and leadership in rock climbing.
    A leader is someone who leads by example and who has a depth of knowledge and love for rock climbing.
    An appreciation of wilderness and a real care for the environment is an important attribute of such a leader.
    Leaders will be fully competent to take a group climbing without staff supervision provided they meet the requirements.

  .spacer.v20

  .sequel-awards(data-types="0 1")

  .spacer.v20

  .requirements
    p All requirements are listed in the sign-offs.

  .spacer.v40

  .award-status(data-id="rockClimbingLeader")

  .spacer.v40

  h2 Sign-Offs
  p These are the requirements for this award.
  .spacer.v20
  #signoffs
