extends ../../layout

block content
  link(rel="stylesheet" href="/stylesheets/awards/rock-climbing-instructor.css")
  script(src="/javascripts/awards/rock_climbing/rock-climbing-instructor.js")

  h1 Rock Climbing Instructor
  p.award-description.
    To be a full rock climbing instructor, will need to transfer your knowledge to real rock face conditions.
    The theory test will include everything in the rock climbing section of "Reach Beyond" and additional
    knowledge acquired from further reading - source of much of the instructor's knowledge.
    An instructor is permitted to sign off learners for their final tests — although the MIC or a
    leader must verify these sign-offs.

  .spacer.v20

  .sequel-awards(data-types="0 2")

  .spacer.v20

  .requirements
    p All requirements are listed in the sign-offs.

  .spacer.v40

  .award-status(data-id="rockClimbingInstructor")

  .spacer.v40

  h2 Sign-Offs
  p These are the requirements for this award.
  .spacer.v20
  #signoffs

  .spacer.v40

  .info-container
    h2 Book Reviews
    p.partial Use the below format to write up your book reviews in a Google Doc.
    .spacer.v20
    ol
      li Title
      li Author(s)
      li Review of book: Cover, contents, characters, techniques, setting, etc.
      li What you learned as a climber from reading the book

  .spacer.v20

  #book-review-placeholder

  .spacer.v40

  #instruction-log-form

  .spacer.v40

  h2 Instruction Logs
  p.partial.
    These are logs of you instructing other pupils with rock climbing.
    Use this section for your instructor and leader awards.
  .spacer.v20
  #instruction-logs
