extends ../../layout

block content
  h1 Service Leader
  .award-description.
    This award was created to encourage you to both continue in your awareness of the needs
    of others and to develop the ability to encourage and organise others to serve others.
  .spacer.v20

  .sequel-awards(data-types="0 1")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li Complete an additional 150 hours of community service over a minimum period of eight weeks.
      li You will have responsibility for arranging your own form of service activity in conjunction with an instructor.
      li.
        This award will be granted in cases of extreme merit where you have not only
        satisfied the objective demands of the award (i.e. 150 hours cumulative service),
        but you have also encouraged, organised and motivated others to join in a service project.

  .spacer.v40

  .award-status(data-id="serviceLeader")
