extends ../../layout

block content
  h1 Service Instructor
  .award-description.
    This award was created to encourage you to both continue your awareness of the
    needs of others as well as to provide an incentive for further service.
    In addition the intention is that you learn basic
    management skills as you serve others and organise both tasks and people.

  .spacer.v20

  .sequel-awards(data-types="0 2")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li Complete an additional 75 hours of service.
      li You will have responsibility for arranging your own form of service activity in conjunction with an instructor.
      li.
        The activities should be unsolicited and continuous efforts on one project rather than
        doing the odd hours of service just for the sake of an award.
        This award is recognition for service beyond the call of normal duty.
      li.
        In special cases the TIC might approve of a project of over 100 hours duration
        to allow a learner to proceed directly from the Service Award to the Instructor Award.

  .spacer.v40

  .award-status(data-id="serviceInstructor")
