extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/general/home.css")
  script(src="/javascripts/general/home.js")

  h1 Welcome to Topal
  p.partial(style="text-align: justify").
    Topal is designed for students to easily record and earn OP awards.
    Use the navigation bar at the top of your screen to view your awards.
    Go to the search tab to find your friends and see which awards they've completed.

  .spacer.v40

  .info.partial
    h2 <span class="red">*</span>Testing Phase
    p.
      This website is still in its testing phase!
      Content is subject to change and new features are still being added.
      Please keep the following in mind:
    .spacer.v20
    ul
      li Bugs are likely to occur (issues with functionality)
      li Your data may be removed at any point
      li You can make up award logs to help test
      li Data on this website does not yet represent which awards people may or may not have
    .spacer.v20
    p.
      It is also important to note that the website may not display correctly on narrow screens such as phones.
      If you want to use Topal on a phone, make sure it is in landscape mode.
      This issue will be fixed when the look and feel of the website is redone.

  .spacer.v40

  h2.center Recent Awards
  .spacer.v20
  #slideshow
