extends ../layout

block content
  h1 Welcome to Topal
  p.partial
    | Treverton OP Awards List is designed for students to easily record and earn OP awards.
    | Use the navigation bar at the top or side of your screen to view your awards.
