extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/general/home.css")
  script(src="/javascripts/general/home.js")

  h1 Topal - Online Logbook
  p.partial(style="text-align: justify").
    Topal allows you to easily record and earn OP awards.
    Use the navigation bar at the top of your screen to view your awards.
    Go to the search tab to find your friends and see which awards they've completed.

  .spacer.v40

  .info.partial
    h2 <span class="red">*</span>Testing Phase
    p.
      This website is still in its testing phase!
      Content is subject to change and new features are still being added.
      Please keep the following in mind:
    .spacer.v20
    ul
      li Bugs are likely to occur (issues with functionality)
      li Your data may be removed at any point
      li You can make up award logs to help test
      li Data on this website does not yet represent which awards people may or may not have
      li Some information is taken directly from the logbook and therefore may not yet make sense in the context of being online
    .spacer.v20
    p.
      It is also important to note that the website may not display correctly on narrow screens such as phones.
      If you want to use Topal on a phone, make sure it is in landscape mode.
      This issue will be fixed when the look and feel of the website is redone.

  .spacer.v40

  h2.align-center Recent Awards
  .spacer.v20
  #slideshow

  .spacer.v40

  h1 From The Logbook:

  .spacer.v20

  h2.align-center Acknowledgements
  p.align-justify.
    Treverton's Outdoor Pursuits programme is well established and the various activities are
    now synonymous with the ever increasingly popular adventure and extreme sports.
    It is with thanks to the late Mr. Neil Solomon, who founded the Treverton Outdoor Pursuits Programme and
    the Post Matriculation Course, and Mr. Graham Lind for their forethought and hard work that they put into
    developing the Outdoor Pursuits Programme and this logbook.

  .spacer.v20

  h2.align-center Foreword
  p.align-justify.
    As Adventure Tourism increasingly becomes more popular in South Africa there is a greater demand for qualified
    adventure guides who are registered with the South African Qualifications Authority
    (SAQA an official body appointed by the ministers of Education and Labour to oversee the development of the
    National Qualification Framework (NQF) in South Africa).
  p.align-justify.
    The growing outdoor-adventure industry is a potential source of employment and already a significant number of
    old Trevertonians are employed in this sector.
    Not only is Treverton College of service in the development of individuals, in terms of personality,
    character and leadership skills, through the Outdoor Pursuits Programme,but also increasingly of use in
    giving individuals a competitive advantage for entering into the Adventure Tourism industry in South Africa.
  p.align-justify.
    In order to register as a tour guide with SAQA one needs to be assessed,
    proving competence and experience in that particular activity.
    The importance of an accurate logbook is essential for the assessment.
  .spacer.v20
  p.align-justify.
    Treverton College can pride itself with the standards that it has stipulated for the twelve O.P. awards.
    Since the standards for each sport have been set by law,
    Treverton finds that it does not need to alter its standards as they are of equal footing.
    Learners coming through the Outdoor Pursuits Programme definitely have a large foundation of experience
    and training that will no doubt assist them in achieving their certification.
    Thus Treverton is continuing to remain as leaders in outdoor pursuit training in South Africa.
  .spacer.v20
  p.align-justify.
    Use this logbook correctly and it will serve you well.
    It has been designed such that you can make copies of the various log sheets and include them into your O.P. file.
    Feel free to place notes and interesting articles related to one of the activities into your logbook. 
    At a later stage you may wish to create separate logbooks for separate activities
    (e.g. one for hiking and another for kayaking and so forth).

  .spacer.v20

  h2.align-center Special Mention
  p.align-justify.
    Of particular interest is that in 2008 the second person was awarded OP Honours for his outstanding achievements in
    working towards achieving all the OP awards offered.
    Congratulations to David Groenewald, in joining his sister Patricia Groenewald, for his perseverance, commitment and dedication.
    May their example be an inspiration to many who follow!
    The requirements for OP Honours are listed in the appendix.

  .spacer.v20

  h2.align-center Safety First
  p.align-justify.
    There is always going to be an inherent risk in doing some of these activities.
    Learners should familiarize themselves with the risks and make sure that they know the necessary skills required
    in order to do a particular activity.
    For example, train first to get fit before attempting your first 15km road running race or Adventure Race;
    practice paddling on flat water before attempting to shoot a rapid; don;t play with snakes as they may be dangerous and you're
    a long way from help and don't eat or consume anything found in the veld (such as mushrooms, seeds or berries)
    as they may be poisonous and detrimental to your well-being.
    This list is not exhaustive and by using your common sense will go a long way in ensuring that you have an incredible
    journey of achievement and enjoyment as you overcome your fears,
    reach your personal goals and have fun in God's creation.
  p.align-justify All the best in striving to achieve as many OP awards as you can.

  .spacer.v20

  h2.align-center What is the Outdoor Pursuits Awards Scheme?
  p.align-justify.
    The Treverton Outdoor Pursuits Awards Scheme consists of twelve major awards,
    with higher levels (Instructor and Leader) attainable in most of the award disciplines.
    Learners voluntarily work towards achievement of these awards by following the standards and rules laid out in the
    Outdoor Pursuits Logbook.
  p.align-justify.
    Learners do this mainly in their own time although some instruction is given during Grade 8, 9 and 10 O.P. lessons.  
    Learners work at their own pace and by a series of sign-offs in their logbooks gradually achieve their awards.
  p.align-justify.
    Self-motivation is the key to the Outdoor Pursuits Awards Scheme and the following are the stated aims of the programme:
  .spacer.v20
  h3 To develop in the learner:
  ul.align-justify
    li.
      Awareness of the spiritual nature of man through realisation of his smallness in relation to the hugeness of the cosmos
      and his weakness in comparison to the might of the elements.
    li Personal confidence, self-motivation and determination.
    li An increased level of agility and physical co-ordination.
    li An increased joy in one's physical self and in being with others.
    li An increased understanding of the natural environment and people's place in God's creation.
    li The ability to work with other people - often in stress situations.

  .spacer.v20

  h2.align-center Why Should You Work Towards Outdoor Pursuits Awards?
  ul.align-justify
    li It's fun
    li It shows you are self-motivated
    li It encourages you to spend structured time in the outdoors
    li It helps you become familiar with and sensitive to your natural environment
    li It helps you develop communication skills
    li It assists you to develop physical skills
    li It builds your self-confidence
    li It trains you in disciplines essential in adventure racing 
    li You can earn a school team award (4 awards)
    li You can earn half colours (7 awards)
    li You can earn full school colours (10 awards)
    li You can become an instructor and gain confidence in communication and management skills
    li.
      Achievement in outdoor pursuits is reflected on your school testimonial and is an indication to a future employer
      that you are a well-rounded and self-motivated person

  .spacer.v20

  h2.align-center How To Apply for an Award
  ol.align-justify
    li Make sure of the rules of the award - these are contained in this logbook under the appropriate heading (refer to Index).
    li.
      Obtain all the necessary sign-offs from the person / instructor / TIC (Teacher in Charge of the award)
      who is authorised to sign that you have passed the appropriate test(s) and are competent in this area.
    li.
      Hand in your Logbook, with your name clearly marked, to the TIC of the particular award.
      For the Team Award, Half Colours, Full Colours and Honours, hand your logbook to the head of OP.
    li Your awarded badge will be given to you during assembly and your award will be loaded onto the O.P. Awards System.
    li Keep a record of all your O.P. awards on the front-page checklist as a continual reminder to Reach for the Stars.

  .spacer.v20

  h2.align-center Special Outdoor Pursuits Awards
  p.align-justify.
    The awards represented below are indications of high achievement in the Outdoor Pursuits Programme.
    They are given for ascending order of experience and achievement,
    leading ultimately to the Instructor and Leader awards which are given to those of exceptional merit,
    a good safety record and proven experience.
  .spacer.v20
  h3 Instructor Award
  p.align-justify.
    This may be earned by superior achievement in and service to a particular area of Outdoor Pursuits
    (e.g. Mountaineering Instructor).
    The conditions of the Instructor Award can be found in the logbook.
  .spacer.v20
  h3 Leader Award
  p.align-justify.
    This award is given to learners with exceptional ability as well as proven responsibility and service to a specific area
    of Outdoor Pursuits as well as a high level of general achievement in Outdoor Pursuits.
  .spacer.v20
  h3 Merit Award
  p: b Awarded, not earned
  p.align-justify.
    The Merit Award is awarded at the discretion of the TIC for meritorious service or achievement in any area of Outdoor Pursuits.
    Any staff member or learner may propose another learner for a Merit award.

  .spacer.v20

  h2.align-center Coming Soon
  ul.align-center(style="list-style-position: inside")
    li Honors requirements
