extends ../layout

block content
  h1 Welcome to Topal
  .spacer.v20
  p Treverton OP Awards List is designed for students to easily record and earn OP awards.
  p Use the navigation bar at the top of your screen to view awards.
