extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/general/home.css")
  script(src="/javascripts/general/home.js")

  h1 Welcome to Topal
  p.partial(style="text-align: justify").
    Treverton OP Awards List was designed for students to easily record and earn OP awards.
    Use the navigation bar at the top or side of your screen to view your awards.
    Go to the search tab to find your friends and see what awards they've completed!

  .spacer.v40

  h2.center Recent Awards
  .spacer.v20
  #slideshow
