extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/general/mountaineering.css")

  h1 Mountaineering
  p There are three hiking awards that you can achieve.

  .spacer.v40

  .a-container.partial
    a(href="awards/drakensberg") Dragensberg Award
    a(href="awards/summit") Summit Award
    a(href="awards/traverse") Traverse Award