extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/general/permissions.css")
  script(src="/javascripts/general/permissions.js")

  h1 Permissions Manager
  h3.info-header (See bottom of page for information on permissions)

  .section
    h2 User Permissions
    h3.info-header (You cannot see your permission)

    .add-user
      h3 Add User
      .add-user-input-container
        input#add-user-input(type="text")
        h3 @treverton.co.za
      button#add-user-button Add
      h4#add-user-info

    #permissions-container
      template#user-template
        .user
          h1 4jencal@treverton.co.za
          select
            option(value="0") None
            option(value="1") Awards
            option(value="2") Permissions

  .permissions-info.section
    h2 About Permissions
    p
      | Use permissions to grant users special privileges throughout the website.
      | This is useful for setting up a team of staff who are able to manage pupils' awards.
    h3 Available Permissions:
    ul
      li
        h4 Awards
        p.
          Allows the user to sign off on other users' awards.
          Users with this permission are not able to manage other users' permissions.
      li
        h4 Permissions
        p.
          Allows the user to manage other users' permissions.
          Users with this permission are also able to sign off on other users' awards.
          This permission is required to view this page.
