extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/general/privacy-policy.css")

  h1 Privacy Policy
  p.faint Effective Date: 9 August

  .spacer.v20

  p.
    Welcome to Topal ("us", "we", or "our").
    We value your privacy and want to be transparent about how we collect and use your information.
  
  h2 Information We Collect

  p.
    We collect your name, surname, and email address when you use our website.
    This helps us personalize your experience and stay in touch.
  
  h2 How We Use Your Information

  p.
    We use the information we collect to make your experience better and to communicate with you.
    Additionally, other users may view your name and email on your profile.
  
  h2 Changes to this Policy

  p.
    If we make changes to our privacy policy, we will update this page.
    By using our website, you agree to these terms.
  
  h2 Contact Us

  p If you have any questions about our privacy policy, you can reach us at <span class="email">postmaster@treverton.co.za</span>.

  .spacer.v20

  p Thank you for using Topal!

  .spacer.v20

  p.faint This document was last updated on 9 August 2023.