extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/general/settings.css")
  script(src="/javascripts/general/settings.js")

  h1 Settings
  .spacer.v20

  .settings-container
    .top
      h2 Dark Theme
      button#toggle-dark-button
    p Turn dark theme on and off.

    .spacer.v20
    .line
    .spacer.v20

    div(style=`display: ${displays.permission.manageAwards.block}`)
      .top
        h2 Sign-Off Requests
        button#signoff-requests-button Sign Off Requests
      p.
        View requests from students for their awards to be signed off.
        Only users with the <b>manage awards</b> permission can access this page.

      .spacer.v20
      .line
      .spacer.v20

    div(style=`display: ${displays.permission.managePermissions.block}`)
      .top
        h2 User Permissions
        button#manage-permissions-button Manage Permissions
      p.
        Grant users special privileges throughout the website.
        Only users with the <b>manage permissions</b> permission can access this page.

      .spacer.v20
      .line
      .spacer.v20

    .top
      h2 Log Out
      button#logout-button Log Out
    p Click to log out of this device.

    .spacer.v20
    .line
    .spacer.v20

    .top
      h2 Log Out Of All Devices
      button#logout-all-button Log Out All Devices
    p This will log you out of all devices you are logged in to, including this one.

    .spacer.v20
    .line
    .spacer.v20

    h2 Credits
    a(href="https://www.flaticon.com/free-icons/key" title="key icons") Key icons created by Freepik - Flaticon
