extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/general/settings.css")
  script(src="/javascripts/general/settings.js")

  h1 Settings

  .spacer.v20

  .card
    h2 Log Out
    p Click to log out of this device.
    button#logout-button Log Out
  
  .spacer.v40
  
  .card
    h2 Log Out Of All Devices
    p This will log you out of all devices you are logged in to, including this one.
    button#logout-all-button Log Out All Devices

  h2#attributions Attributions
    ul
      lu
        h3 Tick Icon
        p by Dave Gandy
        a(href="https://www.flaticon.com/free-icons/check" title="check icons") Check icons created by Dave Gandy - Flaticon