extends ../../layout

block content
  script(src="/javascripts/awards/endurance/endurance-instructor.js")

  h1 Endurance Instructor

  .spacer.v20

  .sequel-awards(data-types="0 2")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li Achieve both the running and endurance awards twice in less than two years.
      li You have shown your competence in advising others in training.
      li You must have the relevant sign-offs.
      li
        p Accept the responsibilities of an instructor:
        .spacer.v20
        ul
          li Promote endurance sports at Treverton
          li Assist the MIC wherever possible
          li Organise and motivate training runs, outrides, training sessions, paddling trips, etc.
          li Organise internal competitive road runs
          li Organise time trials

  .spacer.v40
  
  .award-status(data-id="enduranceInstructor")

  .spacer.v40

  h2 Sign-Offs
  .spacer.v20
  #signoffs
