extends ../../layout

block content
  h1 Endurance Leader

  .spacer.v20

  .sequel-awards(data-types="0 1")

  .spacer.v20

  .requirements
    .spacer.v20
    
    ol.spacious
      li Must have proven ability as an endurance instructor, having assisted the TIC with organising at least 12 endurance events.
      li
        p You must have completed:
        .spacer.v20
        ul
          li Running: At least 250km of additional running (your mileage counting toward the running award does not count)
          li MTB: At least 1000km of additional mountain bike rides
          li Multisport events: At least 30 such events
          li Canoeing: At least 10 grade one races
          li Swimming: At least 20 open water swims
      li You must have fulfilled the requirements of an instructor and have noticeably added to the adventure sports spirit of Treverton.

  .spacer.v40

  .award-status(data-id="enduranceLeader")
