* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a.link {
  color: rgb(0, 200, 255);
  text-decoration: underline;
}

.flex-center, .banner .top {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slideshow {
  overflow: hidden;
}
.slideshow .card-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.slideshow .card-container .card {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: 0.5s;
  width: -moz-fit-content;
  width: fit-content;
}
.slideshow .indicator-container {
  align-items: center;
  bottom: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
  left: 50%;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
}
.slideshow .indicator-container .indicator {
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  height: 10px;
  transition: 0.5s;
  width: 10px;
}
.slideshow .indicator-container .indicator.selected {
  background-color: rgb(50, 50, 50);
  height: 12px;
  transform: translateY(-5px);
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.7);
  width: 12px;
}

footer {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
}
footer a, footer p {
  color: black;
  display: inline;
  font-size: 16px;
  text-decoration: none;
}
footer .treverton-link {
  font-weight: 800;
  left: 16px;
  position: absolute;
}

.topbar,
.topbar-spacer {
  height: 100px;
}

.topbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  color: white;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.topbar .links {
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: none;
  height: 100%;
  justify-content: flex-end;
}
@media screen and (min-width: 550px) {
  .topbar .links {
    display: flex;
  }
}
.topbar .links a {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  height: 100%;
  width: 121px;
  cursor: pointer;
}
.topbar .links a:hover {
  color: #EF7523;
}
.topbar .links a.selected {
  border-bottom: 5px solid #EF7523;
  border-radius: 2px;
}
.topbar .search {
  align-items: center;
  background-color: #EFEFEF;
  border-radius: 8px;
  display: none;
  height: 49px;
  padding: 0 16px;
  width: 500px;
}
@media screen and (min-width: 800px) {
  .topbar .search {
    display: flex;
  }
}
.topbar .search input {
  background: transparent;
  border: none;
  color: #949494;
  font-size: 16px;
  height: 100%;
  outline: none;
  text-indent: 16px;
  width: 100%;
}
.topbar .search .vertical-line {
  border-left: 2px solid #949494;
  height: 24px;
  margin-left: 16px;
}

#logo {
  cursor: pointer;
  height: 48px;
  width: 131px;
}

#search-icon {
  color: #949494;
  cursor: pointer;
}

#sign-in-button {
  background-color: #EF7523;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.1s;
  white-space: nowrap;
}
#sign-in-button:hover {
  background-color: #f29354;
}

.banner {
  background-image: url("/assets/backgrounds/home.webp");
  height: 980px;
  position: relative;
}
.banner button {
  border-radius: 16px;
  cursor: pointer;
  width: 175px;
  height: 60px;
  font-weight: 300;
  font-size: 16px;
}
.banner .top {
  padding: 0 20px;
}
.banner .top h1 {
  color: #EF7523;
  margin-bottom: 16px;
  font-size: 45px;
  font-weight: 700;
  margin-top: 150px;
  text-align: center;
  text-transform: uppercase;
}
.banner .top p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  max-width: 880px;
  text-align: center;
}
@media screen and (min-width: 450px) {
  .banner .top h1 {
    font-size: 60px;
  }
  .banner .top p {
    font-size: 20px;
  }
}
.banner .top .button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
  justify-content: center;
  margin-top: 32px;
}
.banner .top .button-container .button-primary {
  background-color: #EF7523;
  border: none;
  color: white;
}
.banner .top .button-container .button-primary:hover {
  background-color: #f29354;
}
.banner .top .button-container .button-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #EF7523;
  color: #EF7523;
}
.banner .top .button-container .button-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.banner .slideshow {
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 0;
  color: white;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.banner .slideshow .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}
.banner .slideshow .card button {
  background-color: white;
  border: none;
  color: black;
  font-weight: 400;
  margin: 20px 0 40px 0;
}
.banner .slideshow .card button:hover {
  background-color: rgb(220, 220, 220);
}
.banner .slideshow .card h1 {
  font-size: 38px;
  font-weight: 300;
  margin-top: 20px;
}
.banner .slideshow .card p {
  font-size: 18px;
  font-weight: 500;
  padding: 0 50px;
}
@media screen and (min-width: 400px) {
  .banner .slideshow .card h1 {
    font-size: 48px;
  }
  .banner .slideshow .card p {
    font-size: 25px;
  }
}
@media screen and (min-width: 600px) {
  .banner .slideshow .card h1 {
    font-size: 64px;
  }
  .banner .slideshow .card p {
    font-size: 30px;
  }
}
.banner .slideshow .card .date {
  bottom: 18px;
  color: rgb(200, 200, 200);
  font-size: 20px;
  font-weight: 600;
  left: 18px;
  position: absolute;
}
.banner .slideshow .next {
  right: -40px;
}
.banner .slideshow .next img {
  left: 5px;
}
.banner .slideshow .previous {
  left: -40px;
}
.banner .slideshow .previous img {
  right: 5px;
}
.banner .slideshow .next,
.banner .slideshow .previous {
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 70px;
  position: absolute;
  top: 90px;
  width: 70px;
  z-index: 10;
}
.banner .slideshow .next:hover,
.banner .slideshow .previous:hover {
  background-color: rgb(220, 220, 220);
}
.banner .slideshow .next img,
.banner .slideshow .previous img {
  height: 26px;
  position: absolute;
  top: 24.5px;
  width: 26px;
}