extends ../../layout

block content
  h1 Polar Bear Instructor

  .spacer.v20

  .sequel-awards(data-types="0 2")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li You must make an application to the MIC before the first Polar Bear of the year.
      li Must have completed the Polar Bear Award and be currently involved as a senior member.
      li
        p.
          You will be responsible for for assisting the MIC to tick off names every Wednesday morning.
          You will also be responsible for administration of the entire club activities such as:
        .spacer.v20
        ul
          li Ensuring "head wetting"
          li Arranging bonfire and "guest morning" on the coldest morning of the year (Crazy Bear)
          li End of year celebration
          li Assistance with certificates and signing of logbooks

    .spacer.v20
    .notice The award will be made at the end of the year after you have proved your value through a year of service.

  .spacer.v40

  .award-status(data-id="polarBearInstructor")
