extends ../../layout

block content
  h1 Polar Bear Award
  p.award-description.
    Mr. Neil Solomon who introduced the Outdoor Persuits and Post-Matric programmes to Treverton instituted this unique and exclusive club.
    It is based upon other crazy awards the world over in which people brave frigid waters.
    This experience is said to aid the body's immunity against illness due to an increase in antioxidant production in the body!
    So if for nothing else, do it for your health!

  .spacer.v20

  .sequel-awards(data-types="1 2")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li
        p At 5:15am on every Wednesday of the school year you must:
        .spacer.v20
        ul
          li Swim a width of the school damn in summer terms.
          li Get totally immersed in the school damn in winter terms.
      li
        p.
          If you are sick,
          excuse yourself personally from the TIC with an official sick note and attent catchup sessions when you are able.
          You are responsible for organizing these catchup sessions - not the TIC.
      li
        p If you miss a session due to an official school activity then you are counted as having been at that session.

    .spacer.v20
    .notice Only one catchup session will be arranged per term. If you miss it while behind then you are out!

  .spacer.v40

  .award-status(data-id="polarBear")
