extends ../../layout

block content
  h1 Polar Bear Leader
  .spacer.v20

  .sequel-awards(data-types="0 1")

  .spacer.v20

  .requirements
    .spacer.v20

    ul.spacious
      li You must make an application to the MIC before the first Polar Bear of the year.
      li
        p To achieve this award you shall have:
        .spacer.v20
        ol.spacious
          li Been a member of Polar Bear for at least two years.
          li Been an instructor or currently be an instructor.
          li.
            Taken complete responsibility for organizing,
            administrating and motivating the Polar Bear club
            for one year after which you will receive the award on recommendation of the MIC.

  .spacer.v40

  .award-status(data-id="polarBearLeader")
