body {
    overflow-x: hidden;
}

.bottom-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.container {
    padding: 100px 20px 0;
}

.container h3 {
    font-size: 20px;
}

#indicator {
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 70px;
}

#info {
    margin-top: 20px;
    max-width: 700px;
    font-size: 18px;
    text-align: justify;
}