.signoffs-table {
    max-width: 100%;
    width: 700px;
}

.signoffs-table img {
    height: 40px;
}

.signoffs-table td {
    height: 60px;
    vertical-align: middle;
}

.signoffs-table tr>:not(:nth-child(1)) {
    padding-left: 20px;
}

.signoffs-table tr:not(:first-child) th {
    padding-top: 20px;
}

.signoffs-table .line {
    background-color: var(--color-background-opposite);
    height: 0.5px;
}