extends entry-layout

block box
  script(src="/javascripts/entry/change-password.js")

  h2 Change Password
  h3 Topal

  .spacer.v20

  input#password(placeholder="Password" type="password")
  .spacer.v10
  input#verify-password(placeholder="Verify Password" type="password")

  .spacer.v20

  #message

  button#change-button Change

  .spacer.v20

  p.narrow NOTICE: Developers can see your password so use one that you do not use anywhere else!
