extends entry-layout

block box
  script(src="/javascripts/entry/forgot-password.js")

  h2 Forgot Password
  p.partial Enter your email and the password associated with it will be sent to your inbox.

  .spacer.v20

  input#email(placeholder="Email" type="email")

  .spacer.v20

  #message

  button#send-button Send

  .spacer.v20

  a.link(href="/account/login") Log in
