extends entry-layout

block box
  script(src="/javascripts/entry/login.js")

  h1 Login
  h3 Topal

  .spacer.v20

  input#email(placeholder="Email" type="email")
  .spacer.v10
  input#password(placeholder="Password" type="password")

  .spacer.v20

  #message

  button#login-button Log In

  .spacer.v20

  p Don't have an account? <a class="link" href="/account/signup">Sign up</a>
  .spacer.v10
  a.link(href="/account/forgot-password") Forgot password
