extends entry-layout

block box
  script(src="/javascripts/entry/signup.js")

  h1 Signup
  h3 Topal

  .spacer.v20

  input#email(placeholder="Email" type="email")

  .spacer.v20

  #message

  button#signup-button Sign Up

  .spacer.v20

  p Already have an account? <a class="link" href="/login">Log in</a>
