extends ../../layout

block content
  script(src="/javascripts/awards/mountaineering/drakensberg.js")

  h1 Drakensberg Award
  .award-description Spend time hiking in any mountainous areas or natural places.
  .spacer.v20

  .requirements
    .spacer.v20
    
    ol.spacious
      li
        p To achieve this award, you must have logged <b>one</b> of the following:
          .spacer.v20
          ul
            li.
              Spend a total of four days,
              two nights hiking in the lower Berg or suitably challenging natural area such as the Umkomaas Valley or Wild Coast.
            li Spend at least two days, one night making a continuous ascent of at least 700m.
      li You must have all the necessary sign-offs.

    .spacer.v20

    .notice You can record hikes at the <a class="link" href="/awards/mountaineering">mountaineering</a> page.

  .spacer.v40

  .award-status(data-id="drakensberg")

  .spacer.v40

  h2 Sign-Offs
  .spacer.v20
  #signoffs
