extends ../../layout

block content
  h1 Mountaineering Leader
  p.award-description.
    This award was created to award experience, achievement and leadership in mountain hiking.
    A mountaineering leader is someone who leads by example and who has a depth of knowledge and love for the mountains.
    An appreciation for wilderness and a real care for the environment is an important attribute of such a leader.

  .spacer.v20

  .sequel-awards(data-types="mountaineering 1")

  .spacer.v20

  .requirements
    .spacer.v20
    
    ol.spacious
      li Spend at least ten nights on the escarpment and have a proven record of effective leadership as a mountaineering instructor.
      li Shown care and responsibility in your attitude towards other mountaineers.
      li.
        Lead by example and have a depth of knowledge and love for the mountains,
        as well as an appreciation for wilderness and a real care for the environment.
      li.
        Responsibilities of this award include instruction of learners and instructors
        as well as assistance in the running of the Treverton hiking programme.

  .spacer.v40

  .award-status(data-id="mountaineeringLeader")
