extends ../../layout

block content
  script(src="/javascripts/awards/mountaineering/mountaineering.js")

  h1 Mountaineering
  p.award-description.
    There are five hiking awards that you can achieve.
    Please note that this page does not represent an award,
    but rather serves as a link to the five mountaineering awards and allows you to log all your hikes in one place.
    The mountaineering award series has three first-level awards and two higher level awards.

  .spacer.v20

  .sequel-awards(data-types="drakensberg summit traverse 1 2")

  .spacer.v40

  #log-input

  .spacer.v40

  h2 Mountaineering Logs
  p Log your hikes for all five mountaineering awards here.
  .spacer.v20
  #log-display
