extends ../../layout

block content
  script(src="/javascripts/awards/mountaineering/mountaineering-instructor.js")

  h1 Mountaineering Instructor

  .spacer.v20

  .sequel-awards(data-types="mountaineering 2")

  .spacer.v20

  .requirements
    .spacer.v20
    
    ol.spacious
      li.
        You must have achieved the Drakensberg, Summit and Traverse awards,
        having spent a total time of at least six nights on the summit of the Drakensberg.
      li You must have all the necessary sign-offs.

  .spacer.v40

  .award-status(data-id="mountaineeringInstructor")

  .spacer.v40

  h2 Sign-Offs
  .spacer.v20
  #signoffs
