extends ../../layout

block content
  link(rel="stylesheet" href="/stylesheets/awards/mountaineering/traverse.css")
  script(src="/javascripts/awards/mountaineering/traverse.js")

  h1 Traverse Award

  .spacer.v20

  .sequel-awards(data-types="mountaineering")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li.
        You must have completed the Summit Award,
        but you can also earn it at the same time if enough time is spent on the escarpment.
      li.
        You shall have logged a minimum of six nights hiking in the Berg
        and an additional trip including a 700m ascent or two lower berg trips.
      li You shall have the following sign-offs from an instructor or a staff member leading the Berg trip:
        .spacer.v20
        ul
          li
            p.
              Summary of facts about at least <b>three</b> mountain accidents, their causes,
              the rescue action taken and possible preventative measures which could have been taken.
            p Source library: books and Backpacker Magazine, Dragon's Wrath, newspapers, articles
          li Ability to prepare a detailed hike plan proven by presentation of written up hike plan.

  .spacer.v40

  .award-status(data-id="traverse")

  .spacer.v40

  .info-container
    h2 Mountain Accident Summaries
    p.partial You will need to write up your summaries using a Google Doc and submit the link to it.
  
  .spacer.v20

  .info-container
    h2 Hike Plan
    p.partial.
      You will need to write up your hike plan using a Google Doc and submit the link to it.
      Your hike plan must begin with the following:
    .spacer.v20
    ul
      li Area
      li Dates
      li Leader(s) of group
      li People in group
    .spacer.v20
    p.partial Your hike plan must then give details about every day, using this format for each day:
    .spacer.v20
    ul
      li Route
      li Estimated times of departure and arrival
      li Alternative route

  .spacer.v40

  h2 Sign-Offs
  p For more information about these sign-offs, see the third point of the requirements.
  .spacer.v20
  #signoffs

  .spacer.v40

  h2 Mountain Accident Summaries
  .spacer.v20
  #summaries-placeholder

  .spacer.v40

  h2 Hike Plan
  .spacer.v20
  #hike-plan-placeholder
