doctype html
head
  title Topal
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')

  script(src='/javascripts/slideshow.js')
  script(src='/javascripts/layout.js')
  block assets
body
  .topbar
    img#logo(src='assets/logos/logo.svg')
    .links
      a.selected(href='/') Home
      a(href='/awards') Awards

    .search
      i#search-icon.material-icons.search-icon search
      .vertical-line
      input#search-input(type='text' placeholder='Search..')

    button#sign-in-button Sign In

  .topbar-spacer

  block content

  footer
    p.a &copy 2023 <a href="/">TOPAL</a>
    a.treverton-link(href="https://www.treverton.co.za" target="_blank") TREVERTON