extends ../../layout

block content
  h1 Midmar Mile Leader

  .spacer.v20

  .sequel-awards(data-types="0 1")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li Swim the Midmar Mile at least twice in a time of under 45 minutes.
      li Show great discipline in training.
      li Have a clearly logged training log.
      li Assist the MIC in organising training sessions.
      li.
        Be willing to assist in the administration and logistics of planning,
        organising the event as well as food, money and transport.
      li Actively promote the Midmar Mile at Treverton.

  .spacer.v40
  
  .award-status(data-id="midmarMileLeader")
