extends ../../layout

block content
  script(src="/javascripts/awards/midmar-mile.js")

  h1 Midmar Mile Award
  .spacer.v20

  .sequel-awards(data-types="1 2")

  .spacer.v20

  .requirements
    .spacer.v20

    ol.spacious
      li
        p At 5:15am on every Wednesday of the school year you must:
        .spacer.v20
        ol
          li Swim a width of the school damn in summer terms.
          li Get totally immersed in the school damn in winter terms.
      li
        p.
          If you are sick,
          excuse yourself personally from the TIC with an official sick note and attent catchup sessions when you are able.
          You are responsible for organizing these catchup sessions - not the TIC.
      li
        p If you miss a session due to an official school activity then you are counted as having been at that session.

    .spacer.v20

    .notice
      .spacer.v20
      ul
        li Treverton pool is 25m (square)
        li Treverton dam is 210m end to end
        li A mile is approximately 1600m
      .spacer.v20

  .spacer.v40
  .award-status(data-id="midmarMile")
  .spacer.v40

  #log-input

  .spacer.v40
  h2 Logs
  .spacer.v20

  #log-display
